{% extends "base.html.twig" %}
{% block title %}Redéfinir le mot de passe{% endblock %}

{% block body %}
<div class="card bg-light p-5">
	<h1 class="text-primary text-center">
		<strong>
            Redéfinir le mot de passe
		</strong>
	</h1>

	<div class="container">
        {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}

        <button class="btn btn-primary">Valider le nouveau mot de passe</button>
        {{ form_end(resetForm) }}

    </div>


</div>

    

    
{% endblock %}
