{% extends "part/_user_dashboard_page.html.twig" %}

{% block user_page_title %}Créer un compte{% endblock %}

{% block user_page_content %}

<div class="container">
    {{ form(form) }}
</div>

{% endblock %}

